<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="UsersEntities" connectionString="metadata=res://*/UsersModal.csdl|res://*/UsersModal.ssdl|res://*/UsersModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sfcusers.cswvgqf4hyhq.us-east-1.rds.amazonaws.com;initial catalog=Users;user id=Saown;password=D2gGTwbJRH/5kVZ;application name=DAL;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="WebApplicationEntities" connectionString="metadata=res://*/WebApplicationModal.csdl|res://*/WebApplicationModal.ssdl|res://*/WebApplicationModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sfcusers.cswvgqf4hyhq.us-east-1.rds.amazonaws.com;initial catalog=WebApplication;user id=Saown;password=D2gGTwbJRH/5kVZ;application name=DAL;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="UserDataEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=sfcusers.cswvgqf4hyhq.us-east-1.rds.amazonaws.com;initial catalog=UserData;user id=Saown;password=D2gGTwbJRH/5kVZ;application name=DAL;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>