@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Settings Page";
}

<div class="row col-md-12 col-xs-12 cold-sm-12 paddingTop2percent">
    <div class="container settingsContainer">
        <div class="row col-md-12 col-xs-12 cold-sm-12">
            <h5> </h5>
        </div>

        <div id="alertAccountInfos" class="row col-md-12 col-xs-12 cold-sm-12 width100Percent">
            <div id="alertAccountInfo" class="input-group right-inner-addon centered alert alert-danger width100Percent form-horizontal" style="text-align:left;display: none;">
                <span class="glyphicon glyphicon-info-sign" style="color: #B40404"></span>
                <span id="error"></span>
            </div>
        </div>
        <div class="row col-md-12 col-xs-12 cold-sm-12" id="divMsg">
            <form class="well form-horizontal width100Percent" action=" " method="get">
                <fieldset>
                    <!-- Form Name -->
                    <legend class="formHeading"><span id="msgResetInfo"></span></legend>
                </fieldset>
            </form>
        </div>
        <div class="row col-md-12 col-xs-12 cold-sm-12" id="changeEmailPassword">
            <form class="well form-horizontal width100Percent" action=" " method="post" id="changeEmailPasswordForm">
                <fieldset>
                    <!-- Form Name -->
                    
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <div class="input-group right-inner-addon centered">
                                <span>Please enter your new password</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group right-inner-addon centered">
                                <input type="password" class="form-control" id="txtResetPassword" name="txtResetPassword" placeholder="New password" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group right-inner-addon centered">
                                <input type="password" class="form-control" id="txtResetPasswordAgain" name="txtResetPasswordAgain" data-match="#txtResetPassword" data-match-error="Password must match" placeholder="Retype new password" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group right-inner-addon centered center">
                                <button type="submit" id="btnResetPassword" class="button btn-white">Reset</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <input type="hidden" id="User" />
</div>

<script>
    $(document).ready(function () {
        $("#divMsg").hide();
        $("#changeEmailPassword").hide();
        $("#alertAccountInfo").hide();
        $('#changeEmailPasswordForm').bootstrapValidator('resetForm', true);

        $.blockUI({
            baseZ: 30009
        });

        $.ajax({
            type: "POST",
            data: JSON.stringify({
                resetCode: getParameterByName("resetCode"),
                externalId: getParameterByName("externalId")
            }),
            url: "/User/VerifyForgotPassword",
            contentType: "application/json"
        }).done(function (res) {
            console.log(res);
            if (res === "Code has already been used!") {
                $("#error").remove();
                $("#alertAccountInfo").append('<span id="error">Code has already been used!</span>');
                $('#alertAccountInfo').fadeIn('slow');
                $.unblockUI();
                document.location.href = "#alertAccountInfo";
                return;
            }
            else if (res === "Reset Code has expired!")
            {
                $("#error").remove();
                $("#alertAccountInfo").append('<span id="error"> Reset Code has expired, please click on the forgot password again to get the latest link!</span>');
                $('#alertAccountInfo').fadeIn('slow');
                $.unblockUI();
                document.location.href = "#alertAccountInfo";
                return;
            }
            else if (res === "Invalid Reset Code entered!") {
                $("#error").remove();
                $("#alertAccountInfo").append('<span id="error"> Invalid Reset Code provided, please contact support team!</span>');
                $('#alertAccountInfo').fadeIn('slow');
                $.unblockUI();
                document.location.href = "#alertAccountInfo";
                return;
            }
            else if (res === "Invalid password details entered, please contact administrator!") {
                $("#error").remove();
                $("#alertAccountInfo").append('<span id="error"> Invalid password details entered, please contact support team!</span>');
                $('#alertAccountInfo').fadeIn('slow');
                $.unblockUI();
                document.location.href = "#alertAccountInfo";
                return;
            }
            else if (res.UserID != null) {
                $("#error").remove();
                $('#alertAccountInfo').hide();
                $("#User").val(res.UserID);
                $.unblockUI();
                $("#changeEmailPassword").show();
                return;
            }
            else {
                $("#error").remove();
                $("#alertAccountInfo").append('<span id="error"> Something went wrong, please try again!</span>');
                $('#alertAccountInfo').fadeIn('slow');
                $.unblockUI();
                document.location.href = "#alertAccountInfo";
                return;
            }

        });


    });
</script>