
@{
    if (!string.IsNullOrEmpty(ViewBag.Login) && ViewBag.Login == "yes")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <div class="centered"><h1>SHARE For Cures Conditions of Use</h1></div>
            <p>
                SHARE For Cures, Inc. (“SFC”, “we”, “us”, “our”) is building the SHARE (System for Health And Research data Exchange) platform (the “SHARE platform”), a system for end users (“End-Users”) to voluntarily share their demographic and health-related data with researchers.
            </p>
            <p>
                These Conditions of Use explain a contractual agreement governing your (“you”, “your”) use, as an End-User, of our website, shareforcures.org (“our website”), and the SHARE platform.  As used in these Conditions of Use, “our service” or “the service” means the SHARE platform service and our website as provided by us as described above.
            </p>
            <p>The SHARE Platform permits you to enter as much or as little of your information as you like.  By using the SHARE Platform, you agree that any and all Personal Data you provide through the SHARE Platform is provided by you voluntarily, and you consent to and authorize our use of such Personal Data for purposes of the SHARE Platform, consistent with these Conditions of Use and our Privacy Policy, as they may be amended from time to time.  In accordance with our Privacy Policy, we will not share identifiable Personal Data provided by you with third parties except as set forth herein and in the Privacy Policy, though third parties may have access to non-identifiable information in certain circumstances as more fully explained below.</p>
            <p>
                You should print a copy of these Conditions of Use and our Privacy Policy for your records.  Please note, however, that these Conditions of Use and our Privacy Policy may be updated and amended by us from time to time as provided herein.
            </p>
            <p><b>Definitions</b></p>
            <p>
                <b>Account Data:</b> “Account Data” includes all information that enables you and other users of this website (a “User” or an “End-User”) to be identified, including, by way of example:
            </p>
            First and last name<br />
            Mailing address <br />
            Username<br />
            E-mail address<br />
            IP Address<br />
            Phone Number<br />
            Mobile Device information (including location services)<br />
            Other information requested through our services.<p>
            <p>
                We collect your Account Data such as your name, date of birth, e-mail or mailing address from you when you voluntarily choose to register at this website.  SFC may store such Account Data itself or it may be stored in databases owned and maintained by SFC’s affiliates, agents or service providers.  SFC retains its rights to these databases and the information contained in them.
            </p>
            <p>
                If you register with SFC or use certain other of the personalized options we offer, we will create a profile that includes your name, mailing address, e-mail address, and other information that you provide that is pertinent to your specific situation.  We may combine such information with data gathered from other sources.  For instance, if incorrect postal codes are received, we may use third party software to correct them.  When you contact SFC we may keep a record of that correspondence and may occasionally ask you to complete surveys for sales and research purposes.
            </p>
            <p>
                In some instances we may contract with outside parties to collect and maintain our information collection servers and to perform technology and related services.  We seek to provide any such third parties with only the information they need to perform their specific function.
            </p>
            <p>
                <b>Personal Data:</b>  “Personal Data” includes all medical, wellness and lifestyle information voluntarily uploaded by you or your medical provider on your behalf.  Once you have registered, you have the option of uploading your Personal Data in order to use the SHARE (System for Health And Research data Exchange) platform (the “SHARE platform”).  You get to decide which data you want to share for research and who you want to share it with (i.e., which Sharing Organization(s) you select, if any).  Your Personal Data will not be directly shared with any research organization, but will be shared as part of Research Data to any Sharing Organization.  SFC may store such Personal Data itself or it may be stored in databases owned and maintained by SFC’s affiliates, agents or service providers.  SFC retains its rights to these databases and the information contained in them.
            </p><p>
                In some instances we may contract with outside parties to collect and maintain our information collection servers and to perform technology and related services.  We seek to provide any such third parties with only the information they need to perform their specific function.
            </p>
            <p>
                <b>Agregated Data:</b>  “Aggregated Data” includes your and other User demographics, interests and behavior based on Account Data and other information provided to us, which is compiled, combined and analyzed on an aggregate and anonymous basis. In an ongoing effort to better understand and serve our Users, SFC may conduct research on Aggregated Data.  SFC may share this Aggregated Data with government agencies, its affiliates, agents and business partners.  This aggregated information does not identify you personally.  SFC also may disclose Aggregated Data in order to describe our services to third parties for lawful purposes.
            </p>
            <p>
                <b>
                    Research Data:
                </b>  “Research Data” means your Personal Data which is specially identified by you to be shared, combined with the data from other Users and made available to select health researchers (as selected by you).  We will combine the Personal Data that you selected to be shared with the Personal Data from other Users.  Your Personal Data, as included in the Research Data, will only be shared with the organizations that you selected.  The Research Data will only include contain de-identified aggregated information and will not identify you personally unless you choose to allow us to share your identifying information.
            </p>
            <p>
                <b>
                    Sharing Organizations:
                </b> “Sharing Organizations” mean organizations that you selected, either by name or by type of research (for example, cancer research or diabetes research), for us to share your Personal Data with, provided, that the Personal Data will only be shared once it is incorporated into Research Data.
            </p>
            <p>
                1.	<b>Acceptance of Conditions of Use.</b>  These Conditions of Use, which include our Privacy Policy and Consent to Use of Data ([link for Privacy Policy and Consent to Use of Data]), govern your use of the service.  By using, visiting, browsing, or subscribing to the service, you accept and agree to these Conditions of Use including our Privacy Policy and Consent to Use of Data.  If you do not agree to these Conditions of Use, do not use the service.
</p>
            <p>
                2.	<b>Changes to Conditions of Use.</b>  We may, from time to time, change these Conditions of Use, including our Privacy Policy and Consent to Use of Data.  Such revisions shall be effective immediately.  By using the service, you agree to be bound by such revisions and should review these Conditions of Use periodically to determine the then current Conditions of Use to which you are bound.
</p>
            <p>
                3.	<b>Privacy.</b>  Personally identifying information is subject to our Privacy Policy and Consent to Use of Data ([link to Privacy Policy and Consent to Use of Data]), the terms of which are incorporated herein.  Please review our Privacy Policy and Consent to Use of Data to understand our practices.
</p>
            <p>
                4.	<b>Communication Preferences.</b>  By using the service, you consent to receiving electronic communications from us relating to your account.  These communications may involve sending emails to your email address provided during registration, or posting communications on our website, and may include notices about your account (e.g., confirmation e-mails and other transactional information) and are part of your relationship with us.  You agree that any notice, agreements, disclosure or other communications that we send to you electronically will satisfy any legal communication requirements, including that such communications be in writing.  You should maintain copies of electronic communications by printing a paper copy or saving an electronic copy.  You also consent to receiving certain other communications from us, such as newsletters about new SFC features and content, and customer surveys via email or other methods.  If you no longer want to receive certain non-transactional communications, simply follow the unsubscribe instructions at the bottom of our emails.
</p>
            <p>
                5.	<b>SFC Service</b>
                <p />(a)	You must be (i) over the age of 18, (ii) a parent or legal guardian acting for an individual under the age of 18 or an incapacitated person, or (iii) otherwise authorized by SFC to access the SHARE Platform, to use our website.  All End-Users must be located within the United States.
                <p />(b)	The SFC service, and any content viewed through our service, are for your personal and non-commercial use only and may not be provided to any third party except for the Research Data provided to Sharing Organizations, or as otherwise set forth in these Conditions of Use or in our Privacy Policy and Consent to Use of Data ([link for Privacy Policy and Consent to Use of Data]).
                <p />(c)	The availability and scope of the service may change from time to time during the time period of your subscription.  We will endeavor to provide you with advance notice of any material changes to the scope of the service.
                <p />(d)	We may terminate or restrict your use of our service, without compensation or notice if you are, or if we suspect that you are (i) in violation of any of these Conditions of Use or (ii) engaged in illegal or improper use of the service.
            </p>
            <p>
                6.	<b>Ownership of Data; Use of Data.</b>  By providing us with your Personal Data, you are granting us the right to use your Personal Data in the performance of our services.  By providing us with your Personal Data and selecting the Sharing Organization(s), you are granting us the right to use your Personal Data in the creation of our Research Data.  Once we develop the Research Data, SFC is and shall remain the sole and exclusive owner of all right, title, and interest in and to all Research Data.  The Research Data will only contain aggregated patient information and will not identify you personally unless you choose to allow us to share your identifying information.  Research Data, containing your Personal Data, will only be provided to the Sharing Organization(s) you selected.  The use of any such Personal Data and/or Research Data by SFC is subject to any applicable restrictions imposed by U.S. federal or state law on patient data or personal information generally.
            </p>
            <p>
                7.	<b>
    Your Provision of Content or Services to Users.</b>
    <br />(a)	SFC may make portions of your content available through its web sites and services (for example, sharing your Research Data with Sharing Organizations).  SFC is not responsible for your content.
    <br />(b)	SFC is not responsible for third party services or the privacy practices of such service providers.  Third party content and services contain information created, published, maintained, or otherwise posted by third parties independent of SFC.  SFC does not endorse, approve, certify, or control these parties and does not guarantee the accuracy, completeness, efficacy, or timeliness of the information in such content (including your content).  SFC further does not endorse any third-party service providers, products, services, opinions, or web sites accessed through SFC.  Any opinions, advice, services, or other information made available by third parties either via third party links or contributed content are those of the respective authors or providers of such content and not of SFC.
    YOUR PROVISION OF YOUR PERSONAL DATA TO, OR USE OF THIRD PARTY, SERVICES OR CONTENT IS SOLELY AT YOUR OWN RISK.  SFC MAY NOT BE HELD LIABLE FOR ANY DAMAGES ARISING OUT OF OR RELATED TO YOUR PROVISION OF YOUR PERSONAL DATA TO, OR USE OF ANY THIRD-PARTY, SERVICE OR CONTENT.
</p>
            <p>
                8.	<b>Disclaimers of Warranties and Limitations on Liability</b>
                <p />(a)	YOU USE THE SHARE PLATFORM AT YOUR OWN RISK.  THE MATERIALS, INFORMATION, AND SERVICES PROVIDED AS PART OF THE SERVICE ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  THERE IS NO WARRANTY AGAINST INTERFERENCE WITH YOUR ENJOYMENT OF ANY MATERIALS, INFORMATION, OR SERVICES OR AGAINST INFRINGEMENT.  WE ALSO DO NOT GUARANTEE UNINTERRUPTED OR SECURE ACCESS TO THE SHARE PLATFORM, THAT THE SHARE PLATFORM IS DEFECT FREE OR THAT DEFECTS WILL BE CORRECTED, OR THAT THE SHARE PLATFORM OR THE SERVER(S) THAT MAKE THE SHARE PLATFORM AVAILABLE ARE FREE FROM VIRUSES OR OTHER HARMFUL COMPONENTS.
                <p />NEITHER WE NOR ANY OF OUR OFFICERS, DIRECTORS, EMPLOYEES OR AFFILIATES SHALL BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY AND/OR INCIDENTAL DAMAGES OF ANY KIND WHATSOEVER (INCLUDING, BUT NOT LIMITED TO, LOST PROFITS OR ATTORNEYS’ FEES OR DISBURSEMENTS) IN ANY WAY DUE TO, RESULTING FROM OR ARISING IN CONNECTION WITH YOUR ACCESS TO, INABILITY TO ACCESS, OR USE OF THE SERVICE, OR FROM YOUR RELIANCE ON ANY INFORMATION PROVIDED AS PART OF THE SERVICE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIMITATION APPLIES TO ALL CAUSES OF ACTION IN THE AGGREGATE INCLUDING, BUT NOT LIMITED TO, BREACH OF CONTRACT, BREACH OF WARRANTY, NEGLIGENCE, STRICT LIABILITY, MISREPRESENTATION, AND ANY OTHER TORT.  IN THE EVENT THE FOREGOING LIMITATION OF LIABILITY SET FORTH HEREIN SHALL BE FOR ANY REASON HELD UNENFORCEABLE OR INAPPLICABLE, YOU AGREE THAT OUR AGGREGATE LIABILITY (INCLUDING THE LIABLITY OF ALL OF OUR AFFILIATES) SHALL NOT EXCEED FIVE HUNDRED DOLLARS ($500).
                <p />THE SHARE PLATFORM IS A WEB BASED, DATABASE APPLICATION THAT COLLECTS AND STORES DEMOGRAPHIC AND HEALTH RELATED DATA VOLUNTARILY PROVIDED BY YOU; WE ARE NOT RESPONSIBLE FOR ANY LOSS OR INJURY WHATSOEVER DUE TO CONTENT OR OTHER INFORMATION PUBLISHED ON OR THROUGH THE SHARE PLATFORM.  THE SHARE PLATFORM MAY BE UNAVAILABLE DUE TO MAINTENANCE OR OTHER FACTORS AND WE WILL HAVE NO LIABILITY FOR ANY SUCH UNAVAILABILITY.  WE WILL ALSO NOT HAVE ANY LIABILITY FOR ANY LOSS OF DATA, DEGRADED DATA, OLD OR OUT-DATED DATA, OR ERRORS IN DATA RESULTING FROM NON-DELIVERIES, MIS-DELIVERIES OR SERVICE INTERRUPTIONS CAUSED BY US, ANY THIRD-PARTY ACTS OR ANY OTHER WEB HOST PROVIDER OR THE INTERNET INFRASTRUCTURE AND NETWORK EXTERNAL TO THE SHARE PLATFORM. THE LIMITATIONS OF LIABILITY PROVIDED IN THESE CONDITIONS OF USE INURE TO OUR BENEFIT AND TO THE BENEFIT OF OUR AFFILIATES, AND TO ALL OF OUR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, ATTORNEYS AND AGENTS.
                <p />NEITHER WE NOR ANY OF OUR AFFILIATES TAKES ANY RESPONSIBILITY OR ASSUMES ANY LIABILITY FOR ANY CONTENT UPLOADED OR OTHERWISE TRANSMITTED BY YOU OR ANY THIRD PARTY, OR FOR ANY MISTAKES, DEFAMATION, SLANDER, LIBEL, OMISSIONS, FALSEHOODS, OBSCENITY, PORNOGRAPHY, INDECENCY, LEWDNESS, HARASSMENT, THREATS, ABUSE, OR PROFANITY YOU MAY ENCOUNTER IN USING THE SERVICE.  YOU AGREE TO HOLD HARMLESS BOTH US AND OUR AFFILIATES AND PARTIES WITH WHOM WE HAVE CONTRACTED FOR PURPOSES OF HOSTING OR MAINTAINING THIS SITE FROM ALL CLAIMS BASED UPON COMMUNICATIONS OR MATERIALS MADE AVAILABLE BY YOU OR TO YOU IN CONNECTION WITH THE SERVICE.
                <p />(b)	SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN TYPES OF DAMAGES.  THEREFORE, SOME OF THE ABOVE LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.
                <p />(c)	NOTHING IN THESE CONDITIONS OF USE SHALL AFFECT ANY NON-WAIVABLE STATUTORY RIGHTS THAT APPLY TO YOU.  If any provision or provisions of these Conditions of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect.
            </p>
            <p>
                9.	<b>Intellectual Property.</b>  Our website and the content accessible through our website, and all intellectual property rights included in or associated with our website, including but not limited to patents, copyrights, trademarks and service marks (collectively, “Content”), are owned or licensed by us, and all right, title and interest in and to our website and Content remains with us.  Except as ordinarily occurs when a web site is downloaded to your computer in the normal course of browsing such web site, material from our website may not be copied, distributed, re-published, uploaded, posted, modified, reverse engineered, or transmitted in any manner without our prior written consent.  Certain Content may be licensed from third parties and all such third-party content and intellectual property rights related to such content belong to the respective third parties.  In any event, you may not remove any copyright, trademark or other intellectual property or proprietary notice or legend contained on our website or in the Content.
</p>
            <p>
                10.	<b>Governing Law.</b>  Any transaction or occurrence arising out of the provision of the service shall be governed by and construed in accordance with the laws of the Commonwealth of Virginia (excluding any conflict of laws provisions of the Commonwealth of Virginia that would refer to and apply the substantive laws of another jurisdiction).
</p>
            <p>
                11.	<b>Applications.</b>  You may encounter third-party applications (“Application(s)”) that interact with the service.  These Applications may import data related to your SFC account and activity and otherwise gather data from you.  These Applications are provided solely as a convenience to you, and we are not responsible for such Applications.  SUCH APPLICATIONS ARE OWNED OR OPERATED BY THIRD PARTIES THAT ARE NOT RELATED TO WITH OR SPONSORED BY US.  USE OF AN APPLICATION IS AT YOUR OWN OPTION AND RISK.
</p>
            <p>
                12.	<b>Use of Information Submitted.</b>  We are free to use any comments, information, ideas, concepts, reviews, or techniques or any other material contained in any communication you may send to us, without any acknowledgement or payment to you for any purpose whatsoever.
</p>
            <p>
                13.	<b>Arbitration Agreement</b>
<p />(a)	You and we agree that any dispute, claim or controversy arising out of or relating in any way to the service, these Conditions of Use and this Arbitration Agreement, shall be determined by binding arbitration or in small claims court.  Arbitration is more informal than a lawsuit in court.  Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more limited discovery than in court, and is subject to very limited review by courts.  Arbitrators can award the same damages and relief that a court can award.  You agree that, by agreeing to these Conditions of Use, the U.S. Federal Arbitration Act governs the interpretation and enforcement of this provision, and that you and we are each waiving the right to a trial by jury or to participate in a class action.  This arbitration provision shall survive termination of this Agreement and the termination of your subscription.
                <p />(b)	The arbitration will be governed by the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (collectively, “AAA Rules”) of the American Arbitration Association (“AAA”), as modified by this Agreement, and will be administered by the AAA.  The arbitrator is bound by the terms of this Agreement.  All issues are for the arbitrator to decide, including issues relating to the scope and enforceability of this arbitration agreement.
                <p />(c)	YOU AND WE AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.  Further, unless both you and we  agree otherwise, the arbitrator may not consolidate more than one person’s claims with your claims, and may not otherwise preside over any form of a representative or class proceeding.  If this specific provision is found to be unenforceable, then the entirety of this arbitration provision shall be null and void.  The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party’s individual claim.
            </p>
            <p>
                14.	<b>Indemnification.</b>  Upon a request by us, you agree to defend, indemnify, and hold harmless us and our affiliates, and our and our affiliates’ employees, contractors, officers, and directors, from all liabilities, claims, and expenses, including attorney’s fees and disbursements, which arise from your use or misuse of the service.  We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.
</p>
            <p>
                15.	<b>Termination.</b>  We may, in our sole discretion and at any time, discontinue the SHARE Platform, either in part or in whole, with or without notice. You agree that any termination of your access to the SHARE Platform may be affected without prior notice, and you agree that we shall not be liable to you or any third-party for any such termination.
</p>
            <p>
                16.	<b>Prohibited Activities.</b>  You may not use any device, software or routine, including but not limited to any viruses, trojan horses, worms, time bombs or other malicious code, intended to damage or interfere with the proper working of the SHARE Platform or to surreptitiously intercept or expropriate any system, data or personal information from the SHARE Platform.  You may not take any action which imposes an unreasonable or disproportionately large load on our infrastructure, including but not limited to denial of service attacks, "spam" or any other such unsolicited overload technique.
</p>
            <p>
                17.	<b>Links to and from third party sites; framing; Service Providers.</b>  AS PART OF THE SERVICE, WE MAY PROVIDE LINKS OR REFERENCES TO OR ADVERTISEMENTS REFERENCING OTHER SITES.  WE MAY ALSO PROVIDE CONTACT INFORMATION FOR SERVICE PROVIDERS, AND, AT YOUR REQUEST, CONNECT YOU TO SUCH SERVICE PROVIDERS.  NEITHER WE NOR ANY OF OUR AFFILIATES HAS ANY RESPONSIBILITY FOR THE CONTENT OF THESE OTHER SITES, OR SERVICES PROVIDED BY ANY SERVICE PROVIDERS.  WE DO NOT MAKE ANY REPRESENTATIONS OR GIVE ANY WARRANTIES WITH RESPECT TO ANY INFORMATION CONTAINED IN OR AT THESE OTHER SITES, OR SERVICES PROVIDED BY ANY SERVICE PROVIDERS AND SHALL NOT BE LIABLE FOR ANY DAMAGES OR INJURY ARISING FROM SUCH CONTENT OR SERVICES.  NEITHER WE NOR ANY OF OUR AFFILIATES ENDORSES COMPANIES OR PRODUCTS TO WHICH IT HAS PROVIDED LINKS OR CONTACT INFORMATION.  ANY LINKS OR CONTACT TO OTHER SITES OR SERVICE PROVIDERS IS PROVIDED MERELY AS A CONVENIENCE TO SUBSCRIBERS AND, IF YOU DECIDE TO ACCESS ANY OF THE THIRD PARTY SITES LINKED TO THIS SITE OR PROCURE SERVICE FROM ANY SERVICE PROVIDERS, YOU DO SO ENTIRELY AT YOUR OWN RISK.  WE RESERVE THE RIGHT TO TERMINATE ANY LINK OR LINKING PROGRAM OR INFORMATION REGARDING SERVICE PROVIDERS AT ANY TIME.
<p />THERE MAY BE CIRCUMSTANCES WHERE ACCESS TO THE SERVICE ARE PROVIDED BY A LINK LOCATED AT ANOTHER WEB SITE.  NEITHER WE  NOR ANY OF OUR AFFILIATES MAKES ANY REPRESENTATIONS OR GIVES ANY WARRANTIES WITH RESPECT TO ANY INFORMATION CONTAINED IN OR AT THESE OTHER SITES, AND NEITHER WE NOR ANY OF OUR AFFILIATES SHALL BE LIABLE FOR ANY DAMAGES OR INJURY ARISING FROM THE CONTENT OF THESE OTHER SITES.  NEITHER WE NOR ANY OF OUR AFFILIATES ENDORSES THE INDIVIDUALS, COMPANIES, OR OTHER SIMILAR ENTITIES, OR ANY PRODUCTS, SERVICES OR MATERIALS ASSOCIATED WITH SUCH INDIVIDUALS, COMPANIES, OR OTHER SIMILAR ENTITIES, THAT PROVIDE A LINK TO THIS SITE.
            </p>
            <p>
                18.	<b>Contact.</b>  If you have any problems, questions or complaints about these Conditions of Use or our Privacy Policy or the SHARE Platform, please contact us by email at [insert email address].
</p>
            <p>
                19.	<b>Miscellaneous.</b>  These Conditions of Use and our Privacy Policy, and any web pages or other documents incorporated by reference, set forth the entire understanding and agreement between us with respect to the subject matter hereof.
<p />BY USING THE SHARE PLATFORM, AND/OR ACKNOWLEDGING ACCEPTANCE OF THESE CONDITIONS OF USE AND OUR PRIVACY POLICY AT VARIOUS TIMES ON THE SHARE PLATFORM, YOU ACCEPT AND AGREE TO THESE CONDITIONS OF USE AND OUR PRIVACY POLICY.  BY ACCEPTING AND AGREEING TO THESE CONDITIONS OF USE AND OUR PRIVACY POLICY, YOU REPRESENT, WARRANT AND COVENANT THAT YOU ARE EITHER (A) OVER THE AGE OF 18 COMPETENT TO USE THE SHARE PLATFORM, (B) A PARENT OR LEGAL GUARDIAN ACTING FOR AN INDIVIDUAL UNDER THE AGE OF 18 OR AN INCAPACITATED PERSON, OR (C) OTHERWISE AUTHORIZED BY US TO ACCESS THE SHARE PLATFORM.
            <p /> Last updated: ___________, 2016

</div>
    </div>
</section>
