@{
    if (!string.IsNullOrEmpty(ViewBag.Login) && ViewBag.Login == "yes")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <div class="centered">
                <h1>
                    Privacy Policy and Consent to Use of Data
                </h1>
            </div>

            <p>
                SHARE For Cures, Inc. (“SFC,” “Company,” “we,” “us,” “our”) respects your right to privacy.  We are committed to protecting your privacy.  Your continued use of this website (“this website” or “our website”) and your submission of any information to us indicates that you have read, understand and agree to our Privacy Policy and Consent to Use of Data (“Privacy Policy”).
            </p>
            <p>
                We have detailed our Privacy Policy and Consent to Use of Data so that you know how we collect and protect the information you decide to provide us.  This Privacy Policy and Consent to Use of Data will tell you:
                <ul>
                    <li style="list-style-type:square; margin-left:5%;">What information is collected by us.</li>
                    <li style="list-style-type:square; margin-left:5%;">How we may share information.</li>
                </ul>
            </p>
            <p>
                <b>
                    WHAT INFORMATION DO WE COLLECT?
                </b>
            </p>
            <p>
                <b>
                    Customer Information
                </b>
            </p>
            <p>
                <b>
                    Account Data:
                </b>
                “Account Data” includes all information that enables you and other users of this website (a “User” or an “End-User”) to be identified, including, by way of example:

                First and last name<br />
                Mailing address<br />
                Username<br />
                E-mail address<br />
                IP Address<br />
                Phone Number<br />
                Mobile Device information (including location services)<br />
                Other information requested through our services<br />
            </p><p>
                We collect your Account Data such as your name, date of birth, e-mail or mailing address from you when you voluntarily choose to register at this website.  SFC may store such Account Data itself or it may be stored in databases owned and maintained by SFC’s affiliates, agents or service providers.  SFC retains its rights to these databases and the information contained in them.
            </p><p>
                If you register with SFC or use certain other of the personalized options we offer, we will create a profile that includes your name, mailing address, e-mail address, and other information that you provide that is pertinent to your specific situation.  We may combine such information with data gathered from other sources.  For instance, if incorrect postal codes are received, we may use third party software to correct them.  When you contact SFC we may keep a record of that correspondence and may occasionally ask you to complete surveys for sales and research purposes.
            </p><p>
                In some instances we may contract with outside parties to collect and maintain our information collection servers and to perform technology and related services.  We seek to provide any such third parties with only the information they need to perform their specific function.
            </p><p>
                <b>
                    Personal Data:
                </b>  “Personal Data” includes all medical, wellness, and lifestyle information voluntarily uploaded, connected or otherwise provided to us by you or your medical provider on your behalf.
            </p>
            <p>
                Once you have registered, you have the option of uploading your Personal Data in order to use the SHARE (System for Health and Research Data Exchange) platform (the “SHARE platform”).  You get to decide which data you want to share for research and who you want to share it with (i.e., which Sharing Organization(s) you select, if any).  Your Personal Data will not be directly shared with any research organization, but will be shared as part of Research Data to any Sharing Organization.  SFC may store such Personal Data itself or it may be stored in databases owned and maintained by SFC’s affiliates, agents or service providers.  SFC retains its rights to these databases and the information contained in them.
            </p>
            <p>
                In some instances we may contract with outside parties to collect and maintain our information collection servers and to perform technology and related services.  We seek to provide any such third parties with only the information they need to perform their specific function.
            </p><p>
                <b>Aggregated Data:</b> “Aggregated Data” includes your and other User demographics, interests and behavior based on Account Data and other information provided to us, which is compiled, combined and analyzed on an aggregate and anonymous basis.

            </p><p>
                In an ongoing effort to better understand and serve our Users, SFC may conduct research on Aggregated Data.  SFC may share this Aggregated Data with government agencies, its affiliates, agents and business partners.  This aggregated information does not identify you personally.  SFC also may disclose Aggregated Data in order to describe our services to third parties for lawful purposes.

            </p><p>
                <b>Research Data:</b>  “Research Data” means your Personal Data which is specially identified by you to be shared, combined with the data from other Users and made available to select health researchers (as selected by you).
            </p>
            <p>
                We will combine the Personal Data that you selected to be shared with the Personal Data from other Users.  Your Personal Data, as included in the Research Data, will only be shared with the organizations that you selected.  The Research Data will only contain de-identified information  and will not identify you personally unless you choose to allow us to share your identifying information.
            </p><p>
                <b>Sharing Organizations:</b>  “Sharing Organizations” mean organizations that you selected, either by organization name or by the type of research (for example, cancer research, or diabetes research), for us to share your Personal Data with, provided, that the Personal Data will only be shared once it is incorporated into Research Data.
            </p><p>
                <b>Automatic Information:</b>
            </p>
            <p>
                We want you to be aware that certain tools exist to help us service and recognize you.  For your convenience, to help us personalize your experience or better serve your needs, we may receive and store certain types of information when you visit our website.  You may be familiar with the term “cookies”, which are unique alphanumeric identifiers.  These cookies are placed on your computer when your web browser accesses our website.  We use this information to educate us on things such as how you navigate to and around our website, browsing and accessing content.  If you choose, there are utilities available for purchase from independent software providers to install on your computer as well as tools/preferences you can choose through most web browsers to make website visits anonymous.  Of course, cookies let you have a more satisfying website experience, so we recommend that you leave them turned on.
            </p>

            <p>
                <b>ONCE INFORMATION IS RECEIVED, HOW IS IT USED AND SHARED?</b>
            </p>
            <p>
                <b>Use of Information</b>
            </p>
            <p>
                Generally, we use the information you provide us to perform the services for which such data was collected.  Accordingly, we may use your information for a number of purposes including but not limited to the following:
            </p>
            <ul>
                <li style="list-style-type:square; margin-left:5%;">
                    To provide you with access to the SHARE platform.</li>
                <li style="list-style-type:square; margin-left:5%;">
                    With your permission, to incorporate your Personal Information into the Research Data to submit to research organizations.
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    To contact you about a submission you have made to the website, including any content you provide.
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    To send you e-mails, e-newsletters, personalized offers or other communications about products, services, programs or research study opportunities that may be available.
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    To identify the number of visits (including via IP address logging) from different locations and also to block disruptive use.
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    To analyze and improve the services we offer.
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    To stop disruptive or abusive behavior by our users (e.g. the posting or transmission of offensive, inappropriate or objectionable content on or to us).
                </li>
                <li style="list-style-type:square; margin-left:5%;">
                    On rare occasions, to disclose specific information upon governmental request, in response to a court order, when required by law, to enforce our website policies, or to protect our or others’ rights, property, or safety.  We may also share information with companies assisting in fraud protection or investigation.  We may do so when (1) permitted or required by law, or (2) trying to protect against or prevent actual or potential fraud or unauthorized use of the SHARE Platform, or (3) investigating fraud that has already taken place.  We do not provide information to these agencies or companies for their marketing or commercial purposes.
                </li>
                </ul>
                    </p>
                    <p>
                        The SHARE Platform generally permits you to enter as much or as little information as you like.  You may also choose to share as much or as little information as you would like.  You should not choose to share any information that you feel uncomfortable sharing. You should not enter any information that you feel uncomfortable sharing.
                    </p>
                    <p>
                        When you first create a SHARE account, your preferences are set to share your data with your chosen Sharing Organizations for research as part of the “Research Data”.  You may change this and restrict your sharing preferences for some or all of your data at any time.
                    </p>
                    <p>
                        <b>Within our Company and with Our Service Providers</b>
                    </p>
                    <p>
                        We may share information we collect from all points of contact within our organization, including with our affiliated companies.  The information you give us and information about you may be combined with other personally identifiable information available from our records and other sources.  We may share information with our service providers operating on our behalf to provide services to our customers.
                    </p>
                    <p>
                        <b>Right to Transfer</b>
                    </p>
                    <p>
                        Should the Company choose to sell or transfer business assets, or to engage in a transaction where it is required to share or transfer your information, it is possible that the information we possess may be transferred as part of that transaction.  We may decide to retain a copy of the information post sale or transfer.
                    </p>
                    <p>
                        <b>Third Parties</b>
                    </p>
                    <p>
                        Aside from the sharing set forth in this Privacy Policy and Consent to Use of Data, we will not share your information with any third parties.
                    </p>
                    <p>
                        <b>Links to Other Sites</b>
                    </p>
                    <p>
                        Our website may offer links to other sites not under our control or operation.  We may use third- party advertising companies to serve ads. Such companies may also gather non-personally identifiable information about our website visitation patterns so that we can continue to improve our web site and use such information (not including your name, address, email address, or telephone number) about your visit to this website in order to provide advertisements about goods and services that may be of interest to you. We provide any such links only as a convenience and do not endorse and are not responsible for the contents of any linked site or any link contained in a linked site.  Other sites have their own terms of use and privacy and security policies.  If you choose to visit one of these sites, you should review the policies that govern that particular site.
                    </p>
                    <p>
                        <b>HOW DO WE PROTECT CUSTOMER INFORMATION?</b>
                    </p>
                    <p>
                        We use commercially reasonable security technology to comply with the provisions of this Privacy Policy and Consent to Use of Data.  Although we make reasonable efforts to protect information from unauthorized use or alteration, we cannot and do not guarantee the security of all information and there is always a risk inherent in the electronic communication of information (including without limitation from unauthorized entry or use, telecommunication issues, hardware or software failure, and other factors).

                    </p>
                    <p>
                        <b>Application of This Privacy Policy and Consent to Use of Data</b>
                    </p>
                    <p>
                        This Privacy Policy and Consent to Use of Data applies to all information collected or submitted to us through this website.  Other affiliated entities may obtain information independently from transactions and experiences with you or from other sources.  This Privacy Policy and Consent to Use of Data does not pertain to that information.
                    </p>
                    <p>
                        <b>Your California Privacy Rights</b>
                    </p>
                    <p>
                        Under California’s “Shine the Light” law, California residents who provide personal information in obtaining products or services for personal, family or household use are entitled to request and obtain from us, once per calendar year, information about the customer information we shared, if any, with other businesses for their own direct marketing uses.  If applicable, this information would include the categories of customer information and the names and addresses of those businesses with which we shared customer information for the immediately prior calendar year (e.g. requests made in 2016 will receive information regarding 2015 sharing activities).  To obtain this information from us, please send an email message to [add email address] with “Request for California Privacy Information” on the subject line and in the body of your message.  We will provide the requested information to you at your e-mail address in response.  Not all information sharing is covered by the “Shine the Light” requirements and only information on covered sharing (if any) will be included in our response.
                    </p>
                    <p>
                        This website does not respond to “do not track” requests.
                    </p>
                    <p>
                        <b>Limited Access.</b>
                    </p>
                    <p>
                        To access the SHARE platform, you must either: (a) be seeking to use the features/functionality we provide as part of our services or a parent or legal guardian acting for an individual who is under 18 years of age or incapacitated; or (b) otherwise be authorized by us (as a doctor, nurse, health researcher, etc.) to access such areas.
                    </p>
                    <p>
                        <b>We Do Not Provide Medical Advice On This Site.</b>
                    </p><p>
                        ALL OF THE MATERIAL PROVIDED ON OR THROUGH THE SHARE PLATFORM IS FOR INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED TO PROVIDE OR BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS OR TREATMENT.  ALWAYS CONSULT WITH YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER WITH ANY QUESTIONS REGARDING YOUR HEALTH OR ANY RECOMMENDED TREATMENT.  USE OF ANY OF THE INFORMATION PROVIDED ON OR THROUGH THE SHARE PLATFORM IS SOLELY AT YOUR OWN RISK.
                    </p>
                    <p>
                        <b>Online Policy Only:</b>
                    </p><p>
                        This Privacy Policy applies only to information collected through our Site and not to information collected by us offline.
                    </p><p>
                        <b>Children’s Privacy Protection:</b>
                    </p><p>
                        To protect children's Personal Information and to meet the standards of the Children's Online Privacy Protection Act (COPPA), we do not knowingly collect any personal information directly from children under the age of 13.  In addition, we do not collect any personal information from anyone who we know to be under the age of 18.  However, a parent or legal guardian may use this website to submit personal information about their children under the age of 18 to us.  If you are under the age of 18, you should not use this website or submit any personal information to us without the involvement of a parent or guardian.  When users register to use the Site, we may ask for birth date information.  This information helps us ensure that children do not register and provide us with their personal information.  If a parent or guardian is made aware that a child under the age of 13 has provided us with personally identifiable information we ask to be contacted via phone [add phone number] or e-mail [add email address] to make us aware and we will delete the information about the child referenced from our files.
                    </p><p>
                        <b>Your Consent</b>
                    </p>
                    <p>
                        By sharing information with us, you consent that we can use the information collected or submitted as described in this Privacy Policy and Consent to Use of Data.  We may change or add to this Privacy Policy and Consent to Use of Data so we encourage you to review it periodically.
                    </p>
                    <p>
                        [date], 2016
                        Version 1.0




</div>
        </div>
</section>
