
@{
    if (!string.IsNullOrEmpty(ViewBag.Login) && ViewBag.Login == "yes")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    ViewBag.ActiveNav = "about";
}

<!-- Main -->
<section class="wrapper style1" style="padding: 2em 0 3em 0;">
    <div class="container" style="background-color:#fff;">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                        <h2>Our Board of Directors</h2>

                </header>
                <div>
                    <p><strong>SHARE For Cures Board Members represent the patient advocacy, health information technology, medical research, nonprofit, regulatory, and patient privacy fields and they all share a passion for curing disease and improving health. </strong></p>

                </div>
                <section class="wrapper style1">
                    <div class="container">
                        <div class="row">
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <div class="image left">
                                        <img src="/images/1.jpg" alt="">
                                        <div style="font-size:small;" class="centered">President &<br />Co-Founder</div>
                                    </div>
                                    <div class="inner">
                                        <h3>Joshua Mann</h3>
                                        <p>
                                            Mr. Mann has over two decades of professional experience in Health Information Technology (HIT). 
                                            He is currently the President & Co-Founder of SHARE For Cures, and has had leadership roles in many 
                                            health IT and big data projects, including CancerLinQ and caBIG. Since 2006, Mr. Mann has over 50 
                                            publications on the topics of improving HIT and the quality of care, as well as on population health 
                                            and Big Data in Healthcare.
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <div class="image left">
                                        <img src="/images/2.jpg" alt="">
                                        <div style="font-size:small;" class="centered">Treasurer &<br />Co-Founder</div>
                                    </div>
                                    <div class="inner">
                                        <h3>
                                            Jennifer C. King, PhD
                                        </h3>
                                        <p>Dr. King is a research scientist who has seven years of experience in the medical research nonprofit 
                                        sector after leaving the laboratory. She is currently the Director of Science and Research at Lung Cancer 
                                        Alliance. She previously led the data governance program for a learning healthcare system in oncology, which 
                                        resulted in her passion for using real-world data in medical research. Jennifer received a PhD in Biology from 
                                        the Massachusetts Institute of Technology and a BS from Duke University. </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="row">
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="/images/3.png" alt=""></a>
                                    <div class="inner">
                                        <h3>Chris Boone, PhD, FACHE</h3>
                                        <p>Dr. Boone is Vice President, Real World Informatics & Strategies at Avalere Health. He was previously the Executive Director of the Health Data Consortium. He is a recognized expert in health systems, health informatics, health IT policy, and the use of electronic clinical data to generate clinical and scientific evidence for public policy, quality improvement, and patient-centered outcomes research efforts.  Chris merges his knowledge of electronic clinical systems in provider settings with his knowledge of health IT policy to construct systems that generate relevant real world evidence. </p>
                                    </div>
                                </div>
                            </section>
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="/images/4.png" alt=""></a>
                                    <div class="inner">
                                        <h3>
                                            Anna McCollister-Slipp
                                        </h3>
                                        <p>Mrs. McCollister-Slipp is co-founder of Galileo Analytics, a Visual Data Exploration and advanced data analytics company focused on democratizing access to and understanding of complex health data. Mrs Slipp’s passion for innovation in health data research is rooted in her personal experiences living with type 1 diabetes. As an entrepreneur and advocate, she speaks frequently about the promise of digital health, medical device innovation and the need for improved outcomes measures for chronic disease. Anna serves on a number of government and private committees and boards aimed at promoting innovative ways to better understand, manage and treat complex chronic health conditions, such as diabetes.</p>
                                    </div>
                                </div>
                            </section>
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="/images/7.jpg" alt=""></a>
                                    <div class="inner">
                                        <h3>
                                            Robert Hauser, PhD, PharmD
                                        </h3>
                                        <p>Rob is the Vice President of Clinical Analytics for Cancer Treatment Centers of America.  His responsibilities include analyzing and utilizing all forms of clinical data to ensure the highest quality care and outcomes are provided at their 5 centers.  Prior to his current role, Rob joined the American Society of Clinical Oncology in 2011 as the Senior Director of the Quality Department. He has more than 20 years of experience in health economic and strategy planning services related to clinical trial development, oncology registries, EMR systems, informatics, and business development.</p>

                                        <p>Rob has lead more than 20 research activities, has over 10 peer reviewed publications, served as guest editor and has presented hundreds of times to audiences large and small. In addition to his board member role at SHARE For Cures, he currently serves on the Board of Directors for the Geriatric Oncology Consortium and serves on the Advisory Board of Doctors Helping Doctors Transform Healthcare.</p>
                                    </div>
                                </div>
                            </section>
                            <section class="6u 12u(narrower)">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="/images/8.jpg" alt=""></a>
                                    <div class="inner">
                                        <h3>
                                            Ann Waldo
                                        </h3>
                                        <p>To Be Completed...</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </article>

        </div>
    </div>
</section>


