
@{
    if (!string.IsNullOrEmpty(ViewBag.Login) && ViewBag.Login == "yes")
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.ActiveNav = "wts";

}

<!-- Main -->
<section class="wrapper style1" style="padding: 2em 0 3em 0;">
    <div class="container" style="background-color:#fff;">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                        <h2>Together We Can Make This Work...</h2>
                </header>
                <div>
                    <div style="display: inline-flex;">
                        <div class="width70">
                            SHARE for Cures is always interested in partnering with other like-minded, mission-driven organizations.
                            This includes organizations interested in patient-advocacy, patient education, and disease-focused research,
                            as well as academic and nonprofit research centers.  If you are interested in talking with us about potential
                            collaborations, please complete the form below and we'll get back to you as soon as possible.
                            <p>&nbsp;</p>

                            <div id="alertAccountInfos">
                                <div id="alertAccountInfo" class="input-group right-inner-addon centered alert alert-danger width100Percent form-horizontal" style="text-align:left;display: none;">
                                    <span class="glyphicon glyphicon-info-sign" style="color: #B40404"></span>
                                    <span id="error"></span>
                                </div>
                            </div>
                            <div id="divMsg" style="display: none;">
                                <form class="well form-horizontal width100Percent" action=" " method="get">
                                    <fieldset>
                                        <!-- Form Name -->
                                        <legend class="formHeading"><span id="msgResetInfo"></span></legend>
                                    </fieldset>
                                </form>
                            </div>
                            <form action=" " method="post" id="emailForm">
                                <fieldset>
                                    <div class="row 50% form-group">
                                        <div class="6u 12u(mobilep)">
                                            <input type="text" name="txt_names" id="txt_names" placeholder="Name" />
                                        </div>
                                        <div class="6u 12u(mobilep)">
                                            <input type="email" name="txt_email" id="txt_email" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="row 50% form-group">
                                        <div class="12u">
                                            <textarea name="txt_message" id="txt_message" placeholder="Message" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="row 50% form-group">
                                        <div class="12u">
                                            <button type="submit" id="btnSendEmail" class="button btn-white">Send Message</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="width20">
                            <img src="/images/partner.jpg" width="268" align="left" style="margin-left:10px;">
                        </div>        
                    </div>
                </div>
            </article>
        </div>
        <input type="hidden" id="EmailTo" value="EmailPartner" />
    </div>
</section>

<script>

    $(document).ready(function () {
        $('#emailForm').bootstrapValidator(true);
    });


</script>